# ignore all inputs folders
inputs/
# ignore all outputs folders
outputs/
# ignore pycache folders
__pycache__/
# ignore all .ipynb files
*.ipynb
# ignore all .pyc files
*.pyc
# ignore jupyter_note 
jupyter_note/
# ignore config_all.yaml
config_all.yaml